RewriteEngine on
Options All -Indexes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ ./notfound.php

RewriteRule ^authentication/(.+)$ ./forbidden.php
RewriteRule ^controller/(.+)$ ./forbidden.php
RewriteRule ^model/(.+)$ ./forbidden.php
RewriteRule ^pages/(.+)$ ./forbidden.php
RewriteRule ^view/(.+)$ ./forbidden.php
