RewriteEngine on
Options All -Indexes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ ./notfound.php

RewriteRule ^authentication/(.+)$ ./forbiden.php
RewriteRule ^controller/(.+)$ ./forbiden.php
RewriteRule ^model/(.+)$ ./forbiden.php
RewriteRule ^pages/(.+)$ ./forbiden.php
RewriteRule ^view/(.+)$ ./forbiden.php
