* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.login-page {
    width: 100%;
    padding: 0 !important;
    color: white;
    background: linear-gradient(to bottom, #cc2b5e, #753a88);
    display: flex;
    justify-items: center;
    align-items: center;
}

.login-index, .signup {
    width: 525px;
    margin: auto;
    background: linear-gradient(to top, #cc2b5e, #753a88);
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.login-htm, .signup-htm {
    padding: 30px 70px 30px 70px;
}

.login-page input {
    border-radius: 3px !important;
}

.login-page button, .login-page a {
    width: 95% !important;
    border-radius: 3px !important;
    margin: 10px auto 10px auto !important;
    padding: 23px !important;
    /* background-color: rgb(17 97 238) !important; */
    background: linear-gradient(to top, #00b4db, #0083b0) !important;
    height: 3em !important;
}

.login-fail-message {
    color: red;
    text-align: center;
}